<a href="/products/{{_id}}/details" class="added-hotel">
    <img src="{{imgUrl}}" alt="picture of hotel"
        class="picture-added-hotel">
    <h3>{{hotel}} {{city}}</h3>
    <span>Free rooms: {{free-rooms}}</span>
</a>